{% extends 'core/base.html' %}
{% load static %}

{% block content %}
<div class="container my-5">
  <div class="row">
    <div class="col-12">
      <div class="text-center">
        <h1 class="text-center">Noticias</h1>
        <hr class="pb-5">
      </div>
    </div>
  </div>
	
  <div class="row">
		{% for noticia in noticias %}
		<div class="col-lg-4 col-md-6 col-sm-12">
			<div class="card text-dark border-primary mb-4">
			  	{% if noticia.image.url != None %}
				<a href="{% url 'noticia' noticia.id noticia.title|slugify %}">
					<img src="{{noticia.image.url}}" loading="lazy" class="img-fluid" alt="...">
				</a>
				{% endif %}
			  	<div class="card-body">
					<a href="{% url 'noticia' noticia.id noticia.title|slugify %}" class="card-title" 
					   style="color: black; font-weight: bold;" >
						{{noticia.title}}
					</a>
					
					<hr>
					<p class="card-text text-justify">{{noticia.content|striptags|safe|truncatechars:"200"}}</p>
					<p class="float-left">{{noticia.created | date:"SHORT_DATE_FORMAT"}}</p>
					<a href="{% url 'noticia' noticia.id noticia.title|slugify %}" class="float-right">Leer más</a>
			  </div>
			</div>
		</div>
		{% endfor %}

		<div class="col-12">
			<!-- Menú de paginación -->
			{% if noticias.has_next or noticias.has_previous %}
			<nav aria-label="Page navigation">
				<ul class="pagination justify-content-center">
					{% if noticias.has_previous %}
						<li class="page-item ">
							<a class="page-link" href="?page={{ noticias.previous_page_number }}">&laquo;</a>
						</li>
					{% else %}
						<li class="page-item disabled">
							<a class="page-link" href="#" tabindex="-1">&laquo;</a>
						</li>
					{% endif %}

					{% for page in noticias.paginator.page_range %}
						<li class="page-item {% if noticias.number == page %}active{% endif %}">
							<a class="page-link" href="?page={{ page }}">{{ page }}</a>
						</li>
					{% endfor %}

					{% if noticias.has_next %}
						<li class="page-item ">
							<a class="page-link" href="?page={{ noticias.next_page_number }}">&raquo;</a>
						</li>
					{% else %}
						<li class="page-item disabled">
							<a class="page-link" href="#" tabindex="-1">&raquo;</a>
						</li>
					{% endif %}
				</ul>
			<nav aria-label="Page navigation">
			{% endif %}
		</div>
	</div>
</div>
{% endblock %}