{% extends 'core/base.html' %}
{% load static %}

{% block content %}
<div class="container my-5">
  <div class="row">
    <main class="col-lg-8">
      <div class="blog-post">
        <h2 class="blog-post-title">{{noticia.title}}</h2>
        <p class="blog-post-meta text-left">{{noticia.created | date:"SHORT_DATE_FORMAT"}}
        {% if noticia.laboratorio %}
          - Redactado por
          <strong>{{noticia.laboratorio.first_name}} {{noticia.laboratorio.last_name}}</strong>
          colaborador de 
          {% for group in groups %}
            <strong>{{group}}</strong></p>
          {% endfor %}
        {% endif %}

        {% if noticia.image.url != None %}
          <img class="mt-3" src="{{noticia.image.url}}" loading="lazy" width="100%" height="100%">
          <hr class="mt-5">
        {% endif %}
        {{noticia.content|safe}}
      </div>

      <a type="button" class="btn btn-outline-primary float-left mt-4" href="{% url 'noticias' %}" >
        <i class="fas fa-arrow-left"></i> Regresar
      </a>
    </main>

    <aside class="col-lg-4 col-sm-12 mt-5">
      <h4 class="mt-5 mb-4">Noticias recientes</h4>
        <div>
        {% for noticia in noticias_recientes %}
          <a href="{% url 'noticia' noticia.id noticia.title|slugify %}">
            <div class="card border-primary mb-2 p-0">
              <div class="row no-gutters">
                <div class="col-6">
                  <img src="{{noticia.image.url}}" class="img-fluid" alt="...">
                </div>
                <div class="col-6">
                  <div class="px-2">
                    <small style="color: black;">{{noticia.title}}</small>
                  </div>
                </div>
              </div>
            </div>
          </a>
        {% endfor %}
      </div>
    </aside>
  </div>
  
</div>
{% endblock %}