<!doctype html>
<html lang="es">
  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <title>Red de Laboratorios de Innovation Labs Network</title>

    {% load static %}

    <link rel="shortcut icon" type="image/png" href="{% static 'core/img/favicon.ico' %}"/>
    <!-- Bootstrap core 4.3 CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <!-- Font Awesome 5.7 -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="" crossorigin="anonymous">
    <!-- Estilos Globales -->
    <link href="{% static 'core/css/styles.css' %}" integrity="" rel="stylesheet">

  </head>

  <body>

    <nav class="navbar navbar-expand-md fixed-top navbar-dark bg-primary justify-content-between align-items-center py-3">
      <div class="col d-flex w-50 order-0">
        <a href="{% url 'home' %}">
          <img class="navbar-brand mr-1 p-1" src="{% static 'core/img/logotipos/innovationlabs.png' %}" width="130px" height="59px">
        </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsingNavbar">
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>

      <div class="col navbar-collapse collapse text-center justify-content-center justify-content-center order-2" id="collapsingNavbar">
        <ul class="navbar-nav nav-pills">

          <!-- Inicio -->
          <li class="nav-item {% if request.path == '/' %} active {% endif %}">
            <a class="nav-link font-weight-bold" href="{% url 'home' %}">
              <i class="fas fa-home fa-1x"></i> Inicio
            </a>
          </li>

          <!-- Normativa -->
          <li class="nav-item dropdown {% if '/normativa/' in request.path %} active {% endif %}">
            <a class="nav-link dropdown-toggle font-weight-bold" href="" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="fas fa-book-reader fa-1x"></i> Normativa
            </a>
            <div class="dropdown-menu navbar-dark bg-primary" aria-labelledby="navbarDropdownMenuLink">
              {% for normativa in normativas %}
                <a class="dropdown-item font-weight-bold" href="{% url 'normativa' normativa.id normativa.title|slugify %}">
                  {{ normativa.title }}
                </a>
              {% endfor %}
            </div>
          </li>

          <!-- Especialización -->
          <li class="nav-item {% if request.path == '/especializacion/' %} active {% endif %}">
            <a class="nav-link font-weight-bold" href="{% url 'especializacion' %}">
              <i class="fas fa-globe fa-1x"></i> Especialización
            </a>
          </li> 

          <!-- Noticias -->
          <li class="nav-item {% if request.path == '/noticias/' %} active {% endif %}">
            <a class="nav-link font-weight-bold" href="{% url 'noticias' %}">
              <i class="fas fa-newspaper fa-1x"></i> Noticias
            </a>
          </li>

          <!-- Laboratorios -->
          <li class="nav-item {% if request.path == '/laboratorios/' %} active {% endif %}">
            <a class="nav-link font-weight-bold" href="{% url 'laboratorios' %}">
              <i class="fas fa-building fa-1x"></i> Laboratorios
            </a>
          </li>

          <!-- Proyectos -->
          <li class="nav-item">
            <a class="nav-link font-weight-bold" href="#">
              <i class="fas fa-briefcase fa-1x"></i> Proyectos
            </a>
          </li>

          <!-- Recursos -->
          <li class="nav-item {% if request.path == '/recursos/' %} active {% endif %}">
            <a class="nav-link font-weight-bold" href="{% url 'recursos' %}">
              <i class="fas fa-book fa-1x"></i> Recursos
            </a>
          </li>

          <!-- Colaboradores -->
          <li class="nav-item {% if request.path == '/colaboradores/' %} active {% endif %}">
            <a class="nav-link font-weight-bold" href="{% url 'colaboradores' %}">
              <i class="fas fa-users fa-1x"></i> Colaboradores
            </a>
          </li>

          <!-- Acceso / Panel de Administración -->
          <li class="nav-item">
            {% if user.is_authenticated %}
            <a class="nav-link font-weight-bold" href="{% url 'dashboard:dashboard' %}">
              <i class="fas fa-sign-in-alt fa-1x"></i> Panel
            </a>
            {% else %}
            <a class="nav-link font-weight-bold" href="{% url 'login' %}">
              <i class="fas fa-sign-in-alt fa-1x"></i> Acceder
            </a>
            {% endif %}
          </li>

        </ul>
      </div>
    </nav>
  </body>
  

  <!-- Conetenido -->
  <div class="col d-block d-sm-none" style="margin-bottom: 30%;"></div>
  <div class="col d-sm-block d-md-none" style="margin-bottom: 20%;"></div>
  <div class="col d-md-block d-lg-none" style="margin-bottom: 16%;"></div>
  <div class="col d-lg-block d-xl-none" style="margin-bottom: 12%;"></div>
  <div class="col d-none d-xl-block" style="margin-bottom: 9%;"></div>

  <!-- <br style="margin-bottom: 10px;"> -->
  {% block content %}{% endblock %}
  <!-- Fin del Conetenido -->

  <!-- Footer -->
  <footer class="page-footer text-center blue">

    <!-- XS - Extra Small -->
    <div class="col d-block d-sm-none py-4">
      <p class="font-weight-bold pt-2" style="color: #f39c12">
        Plataforma de Colaboración de la Red de Laboratorios de Innovation Labs Network.
      </p>
        <img src="{% static 'core/img/logotipos/labsol.png' %}" width="47px" height="54px">
        <img src="{% static 'core/img/logotipos/intel.png' %}" width="60px" height="40px">
        <img src="{% static 'core/img/logotipos/gpl.png' %}" width="60px" height="25px"> 
        <img src="{% static 'core/img/logotipos/cc.png' %}" width="101px" height="24px"> 
    </div>

    <div class="col d-none d-sm-block d-xl-block py-4">
      <p class="font-weight-bold pt-2" style="color: #f39c12">
        Plataforma de Colaboración de la Red de Laboratorios de Innovation Labs Network.
      </p>
        <img class="p-1" src="{% static 'core/img/logotipos/labsol.png' %}" width="71px" height="81px">
        <img class="p-2" src="{% static 'core/img/logotipos/intel.png' %}" width="96px" height="63px">
        <img class="p-1" src="{% static 'core/img/logotipos/gpl.png' %}" width="120px" height="50px"> 
        <img src="{% static 'core/img/logotipos/cc.png' %}" width="151px" height="36px"> 
    </div>
  </footer>
  <!-- Footer -->

  <script src="{% static 'core/js/jquery-3.3.1.slim.min.js' %}" integrity="" crossorigin="anonymous"></script>
  <script src="{% static 'core/js/bootstrap.min.js' %}" integrity="" crossorigin="anonymous"></script> 

  </body>
</html>