{% extends 'core/base.html' %}
{% load static %}
{% block content %}

<!-- Inicio del Carousel -->
<div class="container">
  <div class="row justify-content-center">
    <div class="container-width col-12">
      <div id="carousel" class="carousel slide " data-ride="carousel">
  
        <ol class="carousel-indicators">
          <li data-target="#principal-carousel" data-slid-to="0" class="active"></li>
          <li data-target="#principal-carousel" data-slid-to="1"></li>
          <li data-target="#principal-carousel" data-slid-to="2"></li>
          <li data-target="#principal-carousel" data-slid-to="3"></li>
          <li data-target="#principal-carousel" data-slid-to="4"></li>
        </ol>
  
        <div class="carousel-inner">
          {% for noticia in noticias %}
  
            {% if forloop.counter == 1 %}
              <div class="carousel-item active">
            {% else %}
              <div class="carousel-item">
            {% endif %}
  
            {% if noticia.destacada == True %}
              <a href="{% url 'noticia' noticia.id noticia.title|slugify %}">
              <div class="carousel-caption d-block">
                <h6 class="col d-block d-sm-none">{{ noticia.title }}</h6>
                <h5 class="col d-none d-sm-block d-md-none">{{ noticia.title }}</h5>
                <h3 class="col d-none d-md-block d-xl-block">{{ noticia.title }}</h3>
              </div>
              <!-- XS - Extra Small -->
              <img class="d-block d-sm-none" src="{{noticia.image.url}}" loading="lazy" width="100%" height="200px">
              <!-- SM - Small -->
              <img class="d-none d-sm-block d-md-none" src="{{noticia.image.url}}" loading="lazy" width="100%" height="280px">
              <!-- MD - Medium --> 
              <img class="d-none d-md-block d-lg-none" src="{{noticia.image.url}}" loading="lazy" width="100%" height="380px">
              <!-- LG - Large -->
              <img class="d-none d-lg-block d-xl-none" src="{{noticia.image.url}}" loading="lazy" width="100%" height="440px">
              <!-- XL - Extra Large -->
              <img class="d-none d-xl-block" src="{{noticia.image.url}}" loading="lazy" width="100%" height="480px">
            {% endif %}
  
          </div>
          {% endfor %}
        </div>
        
        <a class="carousel-control-prev" href="#carousel" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Anterior</span>
        </a>
        <a class="carousel-control-next" href="#carousel" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Siguiente</span>
        </a>
      </div>
      </div>
    </div>
  </div>
</div>
<!-- Fin del Carousel -->

<!-- Seccion Bienveida -->
<div class="bg-secondary mt-5">
  <div class="container">
    <div class="row align-items-center py-4">
      <div class="col-12 text-center text-light">
        <img class="mb-4" src="{% static 'core/img/logotipos/innovationlabs.png' %}" width="156px" height="70px">
        <h4 class="font-weight-bold">Bienvenido</h4>
        <p class="font-weight-bold">
          a la plataforma de  Colaboración de la Red de Laboratorios de Innovation Labs Network
        </p>
      </div>
    </div>
  </div>
</div>
<!-- FIn Seccion Bienveida -->

<!-- Sobre nosotros -->
<main class="container my-4">
  <h2 class="text-center mb-3">Sobre Nosotros</h2>
  <div class="row sobre-nosotros">
      <div class="col-sm-4 text-center my-4">
        <i class="fas fa-user-tie fa-5x mb-4" style="color: green;"></i>
        <h3 class="text-uppercase mb-3">Quienes Somos</h3>
        <p>Somos la red de laboratorios de software libre más grande del país.</p>
      </div>
      <div class="col-sm-4 text-center my-4">
        <i class="fas fa-briefcase fa-5x mb-4" style="color: dodgerblue;"></i>
        <h3 class="text-uppercase mb-3">Proyectos</h3>
        <p>Desarrollamos una gran variedad de proyectos usando las últimas tecnologías para así ofrecer productos de la más alta calidad.</p>
        <a href="#">
          <button class="btn btn-primary">Proyectos</button>
        </a>
      </div>
      <div class="col-sm-4 text-center my-4">
        <i class="fas fa-building fa-5x mb-4" style="color: darkgoldenrod;"></i>
        <h3 class="text-uppercase mb-3">Laboratorios</h3>
        <p>Tenemos laboratorios en todo el país.</p>
        <a href="{% url 'laboratorios' %}">
          <button class="btn btn-primary">Laboratorios</button>
        </a>
      </div>
  </div>
</main>
<!-- Fin sobre nosotros -->

<!-- Descripcion Intel -->
<div class="intel-image container-fluid py-5 mt-4 loading="lazy"">
  <div class="row justify-content-center">
      <div class="col-lg-8 col-md-8 col-lg-6 text-center">
          <h3 class="text-uppercase">INTEL HACE POSIBLE LAS EXPERIENCIAS MAS ASOMBROSAS DEL FUTURO</h3>
          <p class="mt-5 font-weight-bold text-justify">
            Tal vez lo conozca por sus procesadores. Pero hacen mucho más. Intel inventa en los límites de la tecnología para generar experiencias asombrosas posibles para la empresa y la sociedad, y para cada persona del planeta. Aprovechando las capacidades de la nube, la ubicuidad de Internet de las cosas, los mas recientes avances en soluciones programables y memoria y la promesa de una conectividad 5G siempre disponible, Intel esta afectando a las industrias y resolviendo problemas globales. Liderando en políticas, diversidad, inclusión, educación y sustentabilidad, creamos valores para nuestros accionistas, para nuestros clientes y para la sociedad.
          </p>
          <a href="https://www.intel.la/content/www/xl/es/homepage.html" target="_blank" class="btn btn-lg btn-primary mt-3">Leer más</a>
      </div>
  </div>
</div>
<!-- Fin Descripcion Intel -->

<!-- Laboratorios  -->
<div class="container">
  <div class="row">
    <div class="col-md-12 text-center my-5">
      <h2>Conoce nuestros laboratorios</h2>
      <hr>
      <div class="scrollmenu"> 
        {% for laboratorio in laboratorios %}
          {% if laboratorio.logotipo %}
            <a class="card flex-column border-secondary col-md-2 col-12" 
               href="{% url 'laboratorio' laboratorio.id laboratorio.nombre|slugify %}"
               style="height: 130x;">
            <img src="{{ laboratorio.logotipo.url }}" loading="lazy" class="img-fluid" style="height: 130px;">
            </a>
          {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>
</div>
<!-- Fin Laboratorios -->

{% endblock %}