{% extends 'core/base.html' %}
{% load static %}

{% block content %}
<div class="container my-5">
  <div class="row">
    <div class="col-12">
      <div class="text-center mt-2">
        <h1 class="text-center">Especialización</h1>
        <hr class="pb-5">
      </div>
    </div>
  </div>

  <div class="row">
    {% for especializacion in especializaciones %}
      <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="card text-dark border-primary mb-4">
          {% if especializacion.image.url != None %}
            <a href="{% url 'especializacion' especializacion.id especializacion.title|slugify %}">
              <img src="{{especializacion.image.url}}" loading="lazy" class="img-fluid" alt="...">
            </a>
          {% endif %}
          <div class="card-body">
            <a href="{% url 'especializacion' especializacion.id especializacion.title|slugify %}" class="card-title"
               style="color: black; font-weight: bold;">
                {{especializacion.title}}
            </a>
            <hr>
            <p class="card-text text-justify">{{especializacion.content|striptags|safe|truncatechars:"125"}}</p>
  					<p class="float-left">{{especializacion.created | date:"SHORT_DATE_FORMAT"}}</p>
            <a href="{% url 'especializacion' especializacion.id especializacion.title|slugify %}" class="float-right">Leer Más</a>
          </div>
        </div>
      </div>
    {% endfor %}
	</div>
		
  <div class="col-12">
    <!-- Menú de paginación -->
    {% if especializaciones.has_next or especializaciones.has_previous %}
    <br>
    <nav aria-label="Page navigation">
      <ul class="pagination justify-content-center">
        {% if especializaciones.has_previous %}
          <li class="page-item ">
            <a class="page-link" href="?page={{ especializaciones.previous_page_number }}">&laquo;</a>
          </li>
        {% else %}
          <li class="page-item disabled">
            <a class="page-link" href="#" tabindex="-1">&laquo;</a>
          </li>
        {% endif %}

        {% for page in especializaciones.paginator.page_range %}
          <li class="page-item {% if especializaciones.number == page %}active{% endif %}">
            <a class="page-link" href="?page={{ page }}">{{ page }}</a>
          </li>
        {% endfor %}

        {% if especializaciones.has_next %}
          <li class="page-item ">
            <a class="page-link" href="?page={{ especializaciones.next_page_number }}">&raquo;</a>
          </li>
        {% else %}
          <li class="page-item disabled">
            <a class="page-link" href="#" tabindex="-1">&raquo;</a>
          </li>
        {% endif %}
      </ul>
    <nav aria-label="Page navigation">
    {% endif %}
  </div>
</div>
{% endblock %}