{% extends 'core/base.html' %}
{% load static %}

{% block content %}
<div class="container my-5">
  <div class="row">
    <main class="col-lg-8">
      <div class="blog-post mt-2">
        <h2 class="blog-post-title">{{especializacion.title}}</h2>
        <p class="blog-post-meta">{{especializacion.created | date:"SHORT_DATE_FORMAT"}} por
        
        {% if especializacion.laboratorio %}
          - Redactado por
          <strong>{{especializacion.laboratorio.first_name}} {{especializacion.laboratorio.last_name}}</strong>
          {% for group in groups %}
            colaborador de <strong>{{group}}</strong></p>
          {% endfor %}
        {% endif %}

        {% if especializacion.image.url != None %}
          <img class="mt-3" src="{{especializacion.image.url}}" loading="lazy" width="100%" height="100%">
          <hr class="mt-5">
        {% endif %}
        {{especializacion.content|safe}}
      </div>

      <a type="button" class="btn btn-outline-primary float-left mt-4" href="{% url 'especializacion' %}" >
        <i class="fas fa-arrow-left"></i> Regresar
      </a>
    </main>

    <aside class="col-lg-4 mt-5">
      <h4 class="mt-5 mb-4">Publicaciones recientes</h4>
        <div>
        {% for publicacion in publicaciones_recientes %}
          <a href="{% url 'especializacion' publicacion.id publicacion.title|slugify %}">
            <div class="card border-primary mb-2 p-0">
              <div class="row no-gutters">
                <div class="col-6">
                  {% if publicacion.image.url != None %}
                    <img src="{{publicacion.image.url}}" class="img-fluid" alt="...">
                  {% endif %}
                </div>
                <div class="col-6">
                  <div class=" px-2">
                    <small style="color: black;">{{publicacion.title}}</small>
                  </div>
                </div>
              </div>
            </div>
          </a>
        {% endfor %}
      </div>
    </aside>
  </div>
</div>
{% endblock %}