{% extends 'dashboard/dashboard_base.html' %}
{% load static %}

{% block content %}

<main role="main">
  <div class="container">

    <a class="btn btn-success float-right" href="{% url 'dashboard:nueva-especializacion' %}">
      <i class="fas fa-plus"></i> Nueva especialización
    </a>
    
    <br><br>

    {% for especializacion in especializacion_list %}
      <h4 class="mb-2">{{especializacion.title}}</h4>
      {% if especializacion.image.url != None %}
        <img src="{{especializacion.image.url}}" width="192" height="108" class="mb-2">
      {% endif %}
      <p>{{especializacion.content|striptags|safe|truncatechars:"300"}}</p>
      <a class="btn btn-warning btn-sm" href="{% url 'dashboard:editar-especializacion' especializacion.id %}">
        <i class="fas fa-edit"></i> Editar</a>
      <a class="btn btn-danger btn-sm" href="{% url 'dashboard:borrar-especializacion' especializacion.id %}">
        <i class="fas fa-trash"></i> Borrar</a>
      <hr>
    {% endfor %}
  </div>

  <!-- Menú de paginación -->
  {% if is_paginated %}
    <nav aria-label="Page navigation">
      <ul class="pagination justify-content-center">
        {% if page_obj.has_previous %}
          <li class="page-item ">
            <a class="page-link" href="?page={{ page_obj.previous_page_number }}">&laquo;</a>
          </li>
        {% else %}
          <li class="page-item disabled">
            <a class="page-link" href="#" tabindex="-1">&laquo;</a>
          </li>
        {% endif %}
        {% for i in paginator.page_range %}
          <li class="page-item {% if page_obj.number == i %}active{% endif %}">
            <a class="page-link" href="?page={{ i }}">{{ i }}</a>
          </li>
        {% endfor %}
        {% if page_obj.has_next %}
          <li class="page-item ">
            <a class="page-link" href="?page={{ page_obj.next_page_number }}">&raquo;</a>
          </li>
        {% else %}
          <li class="page-item disabled">
            <a class="page-link" href="#" tabindex="-1">&raquo;</a>
          </li>
        {% endif %}
      </ul>
    </nav>
  {% endif %}
</main>
{% endblock %}