{% extends 'dashboard/dashboard_base.html' %}

{% load static %}

{% block content %}

<main role="main">
  <div class="container">
    <div class="row mt-3">
      <div class="col-md-9 mx-auto">
        <div>
          <form action="" method="post">{% csrf_token %}
              <h3>¿Estás seguro de que quieres borrar la Especialización <strong>{{ object.title }}</strong>?</h3>
              <input class="btn btn-danger" type="submit" value="Sí, borrar la especialización"/>
          </form>
        </div>
      </div>
    </div>
  </div>
</main>
{% endblock %}