{% extends 'dashboard/dashboard_base.html' %}
{% load static %}

{% block content %}

<main role="main">
  <div class="container">

    <a class="btn btn-success float-right" href="{% url 'dashboard:nuevo-colaborador' %}">
      <i class="fas fa-plus"></i> Nuevo Colaborador
    </a>
    
    <br><br>

    {% for colaborador in colaborador_list %}
      <h4>{{colaborador.colaborador}}</h4>

      {% if colaborador.image.url != None %}
        <img src="{{colaborador.image.url}}" width="100" height="100" class="mb-2">
      {% endif %}

      {% if colaborador.descripcion != None %}
        <p>{{colaborador.descripcion|striptags|safe|truncatechars:"250"}}</p>
      {% endif %}

      {% if colaborador.sitioweb != None %}
        <p>{{colaborador.sitioweb}}</p>
      {% endif %}

      <a class="btn btn-warning btn-sm" href="{% url 'dashboard:editar-colaborador' colaborador.id %}">
        <i class="fas fa-edit"></i> Editar</a>
      <a class="btn btn-danger btn-sm" href="{% url 'dashboard:borrar-colaborador' colaborador.id %}">
        <i class="fas fa-trash"></i> Borrar</a>
      <hr>
    {% endfor %}
  </div>

  <!-- Menú de paginación -->
  {% if is_paginated %}
    <nav aria-label="Page navigation">
      <ul class="pagination justify-content-center">
        {% if page_obj.has_previous %}
          <li class="page-item ">
            <a class="page-link" href="?page={{ page_obj.previous_page_number }}">&laquo;</a>
          </li>
        {% else %}
          <li class="page-item disabled">
            <a class="page-link" href="#" tabindex="-1">&laquo;</a>
          </li>
        {% endif %}
        {% for i in paginator.page_range %}
          <li class="page-item {% if page_obj.number == i %}active{% endif %}">
            <a class="page-link" href="?page={{ i }}">{{ i }}</a>
          </li>
        {% endfor %}
        {% if page_obj.has_next %}
          <li class="page-item ">
            <a class="page-link" href="?page={{ page_obj.next_page_number }}">&raquo;</a>
          </li>
        {% else %}
          <li class="page-item disabled">
            <a class="page-link" href="#" tabindex="-1">&raquo;</a>
          </li>
        {% endif %}
      </ul>
    </nav>
  {% endif %}
</main>
{% endblock %}