{% extends 'core/base.html' %}
{% load static %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="text-center">
        <!-- <img src="{% static 'core/img/vector.png' %}" width="70%" height="70%" > -->
        <h1 class="text-center">Colaboradores</h1>
        <hr>
      </div>
    </div>
  </div>

  <div class="row mt-4">
    <div class="col-12"> 

      <div class="row">
        {% for colaborador in colaboradores %}
          <div class="col-md-6 col-sm-12">
            <div class="card bg-primary mb-4 border-primary" style="border-radius: 15px;">
              <div class="row no-gutters">
                <div class="col-md-4">
                  {% if colaborador.image %}
                    <img src="{{colaborador.image.url}}" class="card-img" width="100%" height="100%" style="border-radius: 15px;">
                  {% else %}
                    <img src="{% static 'core/img/no-image.jpg' %}" class="card-img" width="100%" height="100%" style="border-radius: 15px;">
                  {% endif %}
                </div>

                <div class="col-md-8 border-primary">
                  <div class="card-body text-white">
                    <h5 class="card-title">{{colaborador.colaborador}}</h5>
                    {% if colaborador.descripcion %}
                      <small>{{colaborador.descripcion}}</small>
                    {% endif %}
                    <br>
                    {% if colaborador.sitioweb %}
                      <br>
                      <small class="font-weight-bold">Sitio web: <a class="card-text text-white font-weight-normal" href="{{ colaborador.sitioweb }}" target="_blank">{{colaborador.sitioweb}}</a></small>
                      <br>
                    {% endif %}
                    <br>
                    {% if colaborador.laboratorio %}
                      <label class="p-1 etiqueta">{{ colaborador.nombre_laboratorio }}</label>
                      <!-- <p class="card-text">Colaborador de: <strong class="card-text">{{ colaborador.nombre_laboratorio }}</strong></p> -->
                    {% endif %}
                  </div>
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>

      <div class="col-12">
          <!-- Menú de paginación -->
        {% if colaboradores.has_next or colaboradores.has_previous %}
          <br>
          <nav aria-label="Page navigation">
            <ul class="pagination justify-content-center">
              {% if colaboradores.has_previous %}
                <li class="page-item ">
                  <a class="page-link" href="?page={{ colaboradores.previous_page_number }}">&laquo;</a>
                </li>
              {% else %}
                <li class="page-item disabled">
                  <a class="page-link" href="#" tabindex="-1">&laquo;</a>
                </li>
              {% endif %}
    
              {% for page in colaboradores.paginator.page_range %}
                <li class="page-item {% if colaboradores.number == page %}active{% endif %}">
                  <a class="page-link" href="?page={{ page }}">{{ page }}</a>
                </li>
              {% endfor %}
    
              {% if colaboradores.has_next %}
                <li class="page-item ">
                  <a class="page-link" href="?page={{ colaboradores.next_page_number }}">&raquo;</a>
                </li>
              {% else %}
                <li class="page-item disabled">
                  <a class="page-link" href="#" tabindex="-1">&raquo;</a>
                </li>
              {% endif %}
            </ul>
          <nav aria-label="Page navigation">
          {% endif %}
        </div>

    </div>
  </div>

</div>

<br><br><br>

{% endblock %}