{% extends 'dashboard/dashboard_base.html' %}
{% load static %}

{% block content %}
<div>
  <br><br>
  <form method="post" enctype="multipart/form-data">{% csrf_token %}
      <table>
      {{ form.as_table }}
      </table>
      <input class="btn btn-primary" type="submit" value="Guardar">
  </form>
</div>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
  <script type="text/javascript" src="{% static 'ckeditor/ckeditor-init.js' %}"></script>
  <script type="text/javascript" src="{% static 'ckeditor/ckeditor/ckeditor.js' %}"></script>
{% endblock %}