{% extends 'core/base.html' %}
{% load static %}

{% block content %}
<div class="container my-5">
  <div class="row justify-content-center">
    <div class="col-11">
      <div class="text-center mt-2">
        <h1 class="text-center">{{ normativa.title }}</h1>
        <hr class="mb-5">
        <p>{{ normativa.content|safe }}</p>
        <hr class="mt-5">
      </div>
    </div>
  </div>
</div>

{% endblock %}