{% extends 'core/base.html' %}
{% load static %}
{% block content %}
<div class="container container-width my-5">
  <div class="row">
    <div class="col-12 portada">
      <!-- XS - Extra Small -->
      <img class="d-block d-sm-none" src="{{laboratorio.imagen_portada.url}}" loading="lazy" width="100%" height="200px">
      <!-- SM - Small -->
      <img class="d-none d-sm-block d-md-none" src="{{laboratorio.imagen_portada.url}}" loading="lazy" width="100%" height="280px">
      <!-- MD - Medium --> 
      <img class="d-none d-md-block d-lg-none" src="{{laboratorio.imagen_portada.url}}" loading="lazy" width="100%" height="380px">
      <!-- LG - Large -->
      <img class="d-none d-lg-block d-xl-none" src="{{laboratorio.imagen_portada.url}}" loading="lazy" width="100%" height="440px">
      <!-- XL - Extra Large -->
      <img class="d-none d-xl-block" src="{{laboratorio.imagen_portada.url}}" loading="lazy" width="100%" height="480px">
      <h2 class="bg-primary d-none d-md-block py-3 px-5">{{laboratorio.nombre}}</h2>
    </div>
  </div>

  <div class="row my-4">
    <main class="col-lg-12 col-sm-12">
      <p>{{laboratorio.descripcion|safe}}</p>
      <h4 class="mb-4">Instalaciones</h4>

      {% if laboratorio.imagen_2.url != None %}
      <a href="#" data-toggle="modal" data-target="#imagen2">
        <img src="{{ laboratorio.imagen_2.url }}" class="img-fluid mb-2" style="max-width: 200px;">
      </a>
      {% endif %}

      {% if laboratorio.imagen_3.url != None %}
      <a href="#" data-toggle="modal" data-target="#imagen3">
        <img src="{{ laboratorio.imagen_3.url }}" class="img-fluid mb-2" style="max-width: 200px;">
      </a>
      {% endif %}

      {% if laboratorio.imagen_4.url != None %}
      <a href="#" data-toggle="modal" data-target="#imagen4">
        <img src="{{ laboratorio.imagen_4.url }}" class="img-fluid mb-2" style="max-width: 200px;">
      </a>
      {% endif %}

      {% if laboratorio.imagen_2.url != None %}
        <div id="imagen2" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
                <img src="{{ laboratorio.imagen_2.url }}" loading="lazy" class="img-fluid">
            </div>
          </div>
        </div>
      {% endif %}

      {% if laboratorio.imagen_3.url != None %}
        <div id="imagen3" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
                <img src="{{ laboratorio.imagen_3.url }}" loading="lazy" class="img-fluid">
            </div>
          </div>
        </div>
      {% endif %}

      {% if laboratorio.imagen_4.url != None %}
        <div id="imagen4" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
                <img src="{{ laboratorio.imagen_4.url }}" loading="lazy" class="img-fluid">
            </div>
          </div>
        </div>
      {% endif %}

      <h4 class="mt-4">Dirección</h4>
      <p>{{laboratorio.direccion}}</p>
      <h4>Contacto</h4>
        <i class="fas fa-phone fa-1x"></i> Telefónos: {{laboratorio.telefonos}}
        <br>
      {% if laboratorio.pagina_web != None %}
        <i class="fas fa-globe fa-1x"></i> Sitio Web:
        <a href="{{laboratorio.pagina_web}}" target="_blank">{{laboratorio.pagina_web}}</a>
      {% endif %}

    </main>

  </div>
</div>
{% endblock %}