{% extends 'core/base.html' %}
{% load static %}

{% block content %}
<div class="container mt-5">
  <div class="row">
    <div class="col-12">
      <div class="text-center mt-2">
        <h1 class="text-center">Laboratorios</h1>
        <hr class="mb-5">
      </div>
    </div>
  </div>

  <div class="row">
    {% for laboratorio in laboratorios %}
      <div class="col-lg-3 col-md-6 col-sm-12 mb-5 px-4" style="height: 290px;">
        <div class="card d-flex border-primary" style="height: 290px;">
          <a class="card-body align-items-center d-flex justify-content-center"
          href="{% url 'laboratorio' laboratorio.id laboratorio.nombre|slugify %}">
            <!-- <a href="{% url 'laboratorio' laboratorio.id laboratorio.nombre|slugify %}"> -->
              <img src="{{ laboratorio.logotipo.url }}" loading="lazy" class="img-fluid">
            <!-- </a> -->
          </a>
          <!-- {% if laboratorio.logotipo.url != None %} -->
          <!-- {% endif %} -->
          <!-- <div class="card-body"> -->
            <!-- <h5 class="card-title">{{laboratorio.nombre}}</h5> -->
			      <!-- <a href="{% url 'laboratorio' laboratorio.id laboratorio.nombre|slugify %}" class="btn btn-primary btn-block">Leer Más</a> -->
          <!-- </div> -->
        </div>
		</div>
    {% endfor %}
  </div>
</div>
{% endblock %}