<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Jekyll v3.8.5">
    <title>Iniciar Sesión</title>
    {% load static %}
    <link rel="canonical" href="https://getbootstrap.com/docs/4.3/examples/sign-in/">

    <!-- Bootstrap core CSS -->
    <link href="{% static 'core/css/bootstrap.min.css' %}" rel="stylesheet" crossorigin="anonymous">
    <link href="{% static 'core/css/login.css' %}" integrity="" rel="stylesheet">

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>
    <!-- Custom styles for this template -->
    <link href="{% static 'core/css/login.css' %}" rel="stylesheet">
  </head>

  <body class="h-100 login" >

    <div class="container h-100 ">
      <div class="row h-100 align-items-center justify-content-center">
          <div class="col-md-4">
              <div class="contenido p-4 bg-secondary text-center">
                  <form class="form-signin" method="post">{% csrf_token %}
                    <img class="mr-3" src="{% static 'core/img/logotipos/innovationlabs.png' %}" width="80%" height="80%" style="padding-bottom:40px;">
                    <h1 class="h3 mb-3 font-weight-normal" style="color: white">Iniciar sesión</h1>
                    {% if form.non_field_errors %}
                      <label style="color:red">Datos incorrectos</label>
                    {% endif %}
                    <label id="username" for="inputEmail" class="sr-only">Usuario</label>
                    <input type="text" name="username" class="form-control" placeholder="Usuario" required autofocus>
                    <label id="password" for="inputPassword" class="sr-only">Contraseña</label>
                    <input type="password" name="password" class="form-control mt-3" placeholder="Contraseña" required>
                    <br>
                    <p><input id="acceder" type="submit" class="btn btn-primary btn-block" value="Acceder"></p>
                  </form>
              </div>
          </div>
      </div>
    </div>

  </body>
</html>