{% extends 'dashboard/dashboard_simple.html' %}
{% load static %}
{% block title %}Contraseña cambiada correctamente{% endblock %}
{% block content %}
<div class="container text-center" style="color: white">
  <div class="row mt-3">
    <div class="col-md-12">
      <h3 class="mb-4">Contraseña cambiada correctamente</h3>
      <p>Regresa al panel de administración <a href="{% url 'dashboard:dashboard' %}">aquí</a>.</p>
    </div>
  </div>
</div>
{% endblock %}