{% extends 'dashboard/dashboard_simple.html' %}
{% load static %}
{% block title %}Cambio de contraseña{% endblock %}
{% block content %}
<style>.errorlist{color:red;}</style>
<div class="container text-center">
  <div class="col-12">
    <form action="" method="post" style="color: white">{% csrf_token %}
      <img class="mr-3" src="{% static 'core/img/logotipos/innovationlabs.png' %}" width="32%" height="32%">
      <h1 class="h3 mb-3 font-weight-normal" style="color: white">Cambio de contraseña</h1>
      <p>Por favor, introduzca su contraseña antigua por seguridad, y después introduzca dos veces la nueva contraseña para verificar que la ha escrito correctamente.</p>
      {{form.old_password.errors}}
      <p><input type="password" name="old_password" autofocus="" required="" id="id_old_password"class="form-control" placeholder="Contraseña antigua"></p>
      {{form.new_password1.errors}}
      <p><input type="password" name="new_password1" required="" id="id_new_password1" class="form-control" placeholder="Contraseña nueva"></p>
      {{form.new_password2.errors}}
      <p><input type="password" name="new_password2" required="" id="id_new_password2" class="form-control" placeholder="Contraseña nueva (confirmación)"></p>
      <p><input type="submit" class="btn btn-primary btn-block" value="Cambiar mi contraseña"></p>
    </form>
  </div>
</div>
{% endblock %}