body.login  {
  background-image: url(../img/login.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
body.login .contenido {
  border-radius: 10px;
  margin-top: 100px;
  -webkit-box-shadow: 0px 22px 24px -12px rgba(0,0,0,0.52);
-moz-box-shadow: 0px 22px 24px -12px rgba(0,0,0,0.52);
box-shadow: 0px 22px 24px -12px rgba(0,0,0,0.52);
} 