.container-width {
  max-width: 960px;
}

body {
  height: 100%;
  background-color: #FAFAFA; 
}

.color-tarjerta{
  background-color: #424242;
  /* background-color: #004885; */
}

hr {
    display: block;
    height: 2px;
    border: 0;
    border-top: 4px solid #424242;
    margin: 1em 0;
    padding: 0; 
}

header {
  padding-top: 0px; 
  padding-bottom: 0px; 
}

footer {
  background-color:  #626567 ;
  /* background-color:  #f39c12; */
}

#map {
  width: 100%; 
  height: 560px; 
}

.intel-image {
  background-image: url(../img/intel.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  color: #ffffff;
}

div.scrollmenu {
  overflow: auto;
  white-space: nowrap;
}

div.scrollmenu a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 10px;
  text-decoration: none;
  margin: 5px;
}

.portada {
  position: relative;
}
.portada h2 {
  position: absolute;
  bottom: 2rem;
  right: 0;
  font-family: 'Raleway', sans-serif;
  font-weight: 900;
  color: #ffffff;
  font-size: 2.0rem;
}

.etiqueta {
  position: absolute;
  bottom: 0;
  right: 15px;
  font-weight: bold;
}