<!doctype html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Dashboard</title>

    {% load static %}

    <!-- Bootstrap core CSS -->
    <link href="{% static 'core/css/bootstrap.min.css' %}" rel="stylesheet" crossorigin="anonymous">
    <link href="{% static 'core/css/styles.css' %}" integrity="" rel="stylesheet">

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>
    
    <!-- Custom styles for this template -->
    <link href="{% static 'core/css/login.css' %}" rel="stylesheet">

  </head>
  <body>

    {% block content %}{% endblock %}

    <script src="{% static 'core/js/jquery-3.3.1.slim.min.js' %}" integrity="" crossorigin="anonymous"></script>
    <script src="{% static 'core/js/bootstrap.min.js' %}" integrity="" crossorigin="anonymous"></script>
  </body>
</html>
