{% extends 'dashboard/dashboard_base.html' %}
{% load static %}

{% block content %}
<div class="row">

  <div class="col-12 d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Bienvenido {{ user.first_name }} {{ user.last_name }}</h1>
    <br>
  </div>
    
  <div class="col-lg-6 col-sm-12">
    <h4>Noticias</h4>

    <a type="button" class="btn btn-success" href="{% url 'dashboard:nueva' %}">
      <i class="fas fa-plus"></i> Crear una Noticia
    </a>

    <a type="button" class="btn btn-primary" href="{% url 'dashboard:publicadas' %}">
      <i class="fas fa-newspaper"></i> Ver lista de Noticias
    </a>

    <hr><br>

  </div>

  <div class="col-lg-6 col-sm-12">
    <h4>Especialización</h4>

    <a type="button" class="btn btn-success" href="{% url 'dashboard:nueva-especializacion' %}">
      <i class="fas fa-plus"></i> Crear Especialización
    </a>

    <a type="button" class="btn btn-primary" href="{% url 'dashboard:especializaciones-publicadas' %}">
      <i class="fas fa-globe"></i> Ver lista de Especialización
    </a>

    <hr><br>

  </div>

  <div class="col-lg-6 col-sm-12">

    <h4>Recursos</h4>

    <a type="button" class="btn btn-success" href="{% url 'dashboard:nuevo-recurso'%}">
      <i class="fas fa-plus"></i> Subir recurso
    </a>
    <a type="button" class="btn btn-primary" href="{% url 'dashboard:recursos-publicados'%}">
      <i class="fas fa-book"></i> Ver lista de Recursos
    </a>

    <hr><br>

  </div>  

  <div class="col-lg-6 col-sm-12">

    <h4>Colaboradores</h4>

    <a type="button" class="btn btn-success" href="{% url 'dashboard:nuevo-colaborador'%}">
      <i class="fas fa-plus"></i> Nuevo Colaborador
    </a>
    <a type="button" class="btn btn-primary" href="{% url 'dashboard:colaboradores-publicados'%}">
      <i class="fas fa-users"></i> Ver lista de Colaboradores
    </a>

    <hr><br>

  </div>  

  <div class="col-12">
    <a type="button" class="btn btn-warning" href="{% url 'home'%}">
      <i class="fas fa-arrow-left"></i> Regresar al Sitio
    </a>
  </div>

</div>
{% endblock %}

