<!doctype html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <title>Panel de Administración</title>

    {% load static %}
    <link rel="shortcut icon" type="image/png" href="{% static 'core/img/favicon.ico' %}"/>
    <link href="{% static 'core/css/bootstrap.min.css' %}" rel="stylesheet" crossorigin="anonymous">
    <link href="{% static 'core/css/all.css' %}" rel="stylesheet" crossorigin="anonymous">
    <link href="{% static '/core/css/dashboard.css' %}" rel="stylesheet">
  </head>
  <body>
    <nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
      <h1 class="navbar-brand col-sm-3 col-md-2 mr-0">
        Panel de Administración
      </h1>

      <div class="dropdown">
        <a class="btn btn-danger dropdown-toggle" href="#" role="button" id="dropdownMenuLink" 
           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="far fa-user text-center"></i> Salir / Cerrar Sesión
        </a>
          
        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
          <a class="dropdown-item" href="{% url 'home'%}">Volver al Sitio</a>
          <a class="dropdown-item" href="{% url 'password_change' %}">Cambiar de Contraseña</a>
          <a class="dropdown-item" href="{% url 'logout' %}">Cerrar Sesión</a>
        </div>
      </div>

    </nav>

    <div class="container-fluid">
      <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
          <div class="sidebar-sticky">
            <ul class="nav flex-column">

              <li class="nav-item">
                <a class="nav-link {% if request.path == '/dashboard/' %} active {% endif %}" href="{% url 'dashboard:dashboard' %}">
                  <i class="fas fa-home"></i> Inicio
                </a>
              </li>

              <li class="nav-item">
                <a class="nav-link {% if request.path == '/dashboard/noticias-publicadas/' %} active {% endif %}" href="{% url 'dashboard:publicadas' %}">
                  <i class="fas fa-newspaper"></i> Noticias 
                </a>
              </li>

              <li class="nav-item">
                <a  href="{% url 'dashboard:especializaciones-publicadas' %}" class="nav-link 
                  {% if request.path == '/dashboard/especializaciones-publicadas/' %} 
                    active 
                  {% endif %}">
                  <i class="fas fa-globe"></i> Especialización
                </a>
              </li>

              <li class="nav-item">
                <a  href="{% url 'dashboard:colaboradores-publicados' %}" class="nav-link 
                  {% if request.path == '/dashboard/colaboradores-publicados/' %} 
                    active 
                  {% endif %}">
                  <i class="fas fa-users"></i> Colaboradores
                </a>
              </li>

              <li class="nav-item">
                <a href="{% url 'dashboard:recursos-publicados'%}" class="nav-link 
                  {% if '/recursos-publicados/' in request.path %} 
                    active 
                  {% endif %}">
                  <i class="fas fa-book"></i> Recursos 
                </a>
              </li>

              <li class="nav-item">
                <a class="nav-link" href="{% url 'home'%}">
                  <i class="fas fa-arrow-left"></i> Regresar al sitio
                </a>
              </li>
            </ul>
          </div>  
        </nav>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
        {% if messages %}
          {% for message in messages %}
            <br>
            <div class="alert {% if message.tags %}
                  alert-{{ message.tags }}
                  {% endif %}" role="alert">{{ message }} 
            </div>
          {% endfor %}
        {% endif %}
          {% block content %}{% endblock %}
        </main>
        
  </div>
</div>

  <script src="{% static 'core/js/jquery-3.3.1.slim.min.js' %}" integrity="" crossorigin="anonymous"></script>

  <script src="{% static 'core/js/bootstrap.min.js' %}" integrity="" crossorigin="anonymous"></script>
</html>