{% extends 'dashboard/dashboard_base.html' %}
{% load static %}

{% block content %}
  <div>
    <br>
    {% if 'ok' in request.GET %}
    <div class="alert alert-success" role="alert">
      Información y Recurso actualizados correctamente
    </div>
    {% endif %}
    <form method="post" enctype="multipart/form-data">{% csrf_token %}
        <table>
        {{ form.as_table }}
        </table>
        <input class="btn btn-primary" type="submit" value="Actualizar recurso">
    </form>
  </div>
  
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
  <script type="text/javascript" src="{% static 'ckeditor/ckeditor-init.js' %}"></script>
  <script type="text/javascript" src="{% static 'ckeditor/ckeditor/ckeditor.js' %}"></script>
{% endblock %}