{% extends 'core/base.html' %}
{% load static %}

{% block content %}
<div class="container">
  <div class="row">

    <div class="col-12 text-center">
      <!-- <img src="{% static 'core/img/vector.png' %}" width="70%" height="70%" > -->
      <h1 class="text-center">Recursos</h1>
      <hr>
    </div>

    <div class="col-12 table-responsive">
      <br>
      <table class="table table-active">
        <thead class="bg-primary text-light">
          <tr>
            <!-- <th scope="col">Nombre del Archivo</th> -->
            <th scope="col" style="width: 50%;">Archivo</th>
            <th>Opciones</th>
            <th scope="col">Fecha de publicación</th>
            <th scope="col">Publicado por</th>
          </tr>
        </thead>
        <tbody>
        {% for recurso in recursos %}
          <tr>
            <td>
              {{recurso.title}}
            </td>
            <td>
              <a class="btn btn-info btn-sm mb-1" href={{recurso.archivo.url}}>
                <i class="fas fa-eye fa-1x"></i> Ver
              </a>
              <a class="btn btn-primary btn-sm mb-1" download={{recurso.archivo.url}} href={{recurso.archivo.url}}>
                <i class="fas fa-file-download fa-1x"></i> Descargar
              </a>
            </td>
            <!-- <td>
              <a style="color:white" download={{recurso.archivo.url}} href={{recurso.archivo.url}}>{{recurso}}</a>
              <i class="fas fa-file-download"></i>
            </td> -->
            <td>{{recurso.created | date:"SHORT_DATE_FORMAT"}}</td>
            <td>{{recurso.nombre_laboratorio}}</td>
          </tr>
        {% endfor %}
        </tbody>
      </table>

      <!-- Menú de paginación -->
      {% if recursos.has_next or recursos.has_previous %}
      <br>
      <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
          {% if recursos.has_previous %}
            {% comment %} <li>
              <a href="?page={{ recursos.previous_page_number }}" class="btn btnpages">
              <i class="glyphicon glyphicon-chevron-left"></i></a>
            </li> {% endcomment %}
            <li class="page-item ">
              <a class="page-link" href="?page={{ recursos.previous_page_number }}">&laquo;</a>
            </li>
          {% else %}
            <li class="page-item disabled">
              <a class="page-link" href="#" tabindex="-1">&laquo;</a>
            </li>
          {% endif %}

          {% for page in recursos.paginator.page_range %}
            {% comment %} <li class="{% if recursos.number == page %}active{% endif %}">
              <a class="btn btnpages" href="?page={{ page }}">{{ page }}</a>
            </li> {% endcomment %}

            <li class="page-item {% if recursos.number == page %}active{% endif %}">
              <a class="page-link" href="?page={{ page }}">{{ page }}</a>
            </li>
          {% endfor %}

          {% if recursos.has_next %}
            {% comment %} <li>
              <a href="?page={{ recursos.next_page_number }}" class="btn btnpages">
                <i class="glyphicon glyphicon-chevron-right"></i>
              </a>
            </li> {% endcomment %}
            <li class="page-item ">
              <a class="page-link" href="?page={{ recursos.next_page_number }}">&raquo;</a>
            </li>
          {% else %}
            <li class="page-item disabled">
              <a class="page-link" href="#" tabindex="-1">&raquo;</a>
            </li>
          {% endif %}
        </ul>
      <nav aria-label="Page navigation">
      {% endif %}

      <br><br>
    </div>

    </div>
  </div>
</div>

{% endblock %}